@model Intex_2017.Models.WorkOrder

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create Work Order</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Work Order Details</h4>
        <hr />
        @using (Html.BeginForm("Create", "WorkOrders", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="col-md-4 control-label">Customer ID</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CustID, new { htmlAttributes = new { @class = "form-control", Value = ViewBag.CustID } })
                        @Html.ValidationMessageFor(model => model.CustID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Sales Agent ID</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SalesAgentID, new { @class = "form-control", Value = ViewBag.SalesAgentID, @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.SalesAgentID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Compound</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LTNumber, new { @class = "form-control", Value = ViewBag.LTNumber, @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.LTNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Quantity of Compound (mg)</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ClientQuantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClientQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Latest Date to be Completed</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DateDue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateDue, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.Hidden("a1", (bool)ViewBag.a1)
                @Html.Hidden("a2", (bool)ViewBag.a2)
                @Html.Hidden("a3", (bool)ViewBag.a3)
                @Html.Hidden("a4", (bool)ViewBag.a4)
                @Html.Hidden("a5", (bool)ViewBag.a5)
                @Html.Hidden("a6", (bool)ViewBag.a6)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h4>Assays</h4>
        <hr />
        @{ 
            if (ViewBag.a1 == true)
            {
                <p>Biochemical Pharmacology</p>
            }
            if (ViewBag.a2 == true)
            {
                <p>DiscoveryScreen</p>
            }
            if (ViewBag.a3 == true)
            {
                <p>ImmunoScreen</p>
            }
            if (ViewBag.a4 == true)
            {
                <p>ProfilingScreen</p>
            }
            if (ViewBag.a5 == true)
            {
                <p>PharmaScreen</p>
            }
            if (ViewBag.a6 == true)
            {
                <p>CustomScreen</p>
            }
        }
    </div>
</div>

