@model List<Intex_2017.Models.ViewModels.CustomerViewAssaysViewModel>
@{
    ViewBag.Title = "CustomerViewIndex";
}

<div class="row animated fadeInDown text-center">
    <br />
    <h2>Work Order No. @ViewBag.WorkOrderNo</h2>
    <br />
    <br />
    <h4>Compound: @ViewBag.compound</h4>
</div>
<br />
<table class="table table-striped animated fadeInDown">
    <thead>
        <tr>
            <th>
                Assay
            </th>
            <th>
                Status
            </th>
            <th>
                Data Report
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AssayNameDesc
            </td>
            <td>
                @item.StatusName
            </td>
            @{
                if (item.DataReportPath == null)
                {
                    <td>
                        <button class="btn btn-default disabled">View</button>
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("View", "GetDataReportPDF", "DataReports", new { DataReportPath = item.DataReportPath}, new { @class = "btn btn-primary"})
                    </td>
                }
            }
        </tr>
     }
</table>
<div class="row animated fadeInDown">
    @{
        if (ViewBag.HasASummary == false)
        {
            <button class="btn btn-default disabled">View Summary Report</button>
        }
        else
        {
            @Html.ActionLink("View Summary Report", "GetSummaryReportPDF", "SummaryReports", new { SummaryReportPath = ViewBag.SummaryReportPath}, new { @class = "btn btn-primary" })
        }
    }
</div>


