@model List<Intex_2017.Models.ViewModels.ManagerDataReportsViewModel>
@{
    ViewBag.Title = "ManagerView";
}

<br /><br />
<div class="row text-center animated fadeInDown">
    <h3>All Uploaded Data Reports</h3>
</div>
<br />
<table class="table table-striped animated fadeInDown">
    <thead>
        <tr>
            <th>
                Work Order No.
            </th>
            <th>
                Assay No.
            </th>
            <th>
                Compound Name
            </th>
            <th>
                LT Number
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Company
            </th>
            <th>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.WorkOrderID
            </td>
            <td>
                @item.AssayID
            </td>
            <td>
                @item.CompoundName
            </td>
            <td>
                @item.LTNumber
            </td>
            <td>
                @item.CustFirstName @item.CustLastName
            </td>
            <td>
                @item.CustCompany
            </td>
            <td>
                @Html.ActionLink("See Data Report", "GetDataReportPDF", "DataReports", new { DataReportPath = item.DataReportPath }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
