
@{
    ViewBag.Title = "Customer";
}

<div class="row animated fadeInDown">
    <h1>Welcome, @Request.Cookies["firstname"].Value @Request.Cookies["lastname"].Value.</h1>
</div>

<div class="row animated fadeInDown">
    <h2>My Dashboard</h2>
</div>

<div class="row animated fadeInDown">
    <div class="row text-center">
        <h2>How can we help you?</h2>
    </div>
</div>
<br />
<br />
<div class="row animated fadeInUp">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Contact Us</h3>
            </div>
            <div class="panel-body">
                <p>Contact us through this form to place an order, ask for support or make some suggestions. You may also call us at 555-555-5555.</p>
                <br />
                @Html.ActionLink("Contact Us", "Create", "CallTickets", new { id = User.Identity.Name }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">See Your Work Orders</h3>
            </div>
            <div class="panel-body">
                <p>See the status and results of your assay orders here.</p>
                <br />
                <br />
                @Html.ActionLink("See My Orders", "CustomerViewIndex", "WorkOrders", new { id = User.Identity.Name }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Update Your Information</h3>
            </div>
            <div class="panel-body">
                <p>Maybe you or your company has moved; either way, you can change your profile's information here.</p>
                @Html.ActionLink("Update Information", "Edit", "Customers", new { id = User.Identity.Name }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
