@model Intex_2017.Models.ViewModels.OpenTicketsViewModel

@{
    ViewBag.Title = "Details";
}

<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Ticket Details</h4>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>Call Ticket Number:</td>
                <td>@Model.CallTicketID</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CustFirstName @Model.CustLastName</td>
            </tr>
            
            <tr>
                <td>Phone:</td>
                <td>@Model.CustPhone</td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td>@Model.Subject</td>
            </tr>
            <tr>
                <td>Body:</td>
                <td>@Model.Body</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        @Html.ActionLink("Create Work Order", "SetCompound", "WorkOrders", new { CustID = (int)ViewBag.CustID, SalesAgentName = User.Identity.Name }, new { @class = "btn btn-success" })
        <br />
        <br />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
    </div>
</div>

